<h3>Requestline Create</h3>

<table class="table table-striped table-sm table-dark">
    <tbody>
        <tr>
            <td>Id</td>
            <td><input [(ngModel)]="requestline.id" disabled name="id"></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td><input [(ngModel)]="requestline.quantity" name="quantity"></td>
        </tr>
        <tr>
            <td>Product</td>
            <td><select [(ngModel)]="requestline.productId" name="productId">
                    <option *ngFor="let prod of products" value="{{prod.id}}">{{prod.name}}</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <button (click)="save()" class="btn btn-primary btn-dark">Save</button>
</div>